vz-cube {
    display: block;
}

/* -- beautify -- */
:root {
    font: 16px/1.618 sans-serif;
    box-sizing: border-box;
}
:root * {
    box-sizing: inherit;
}
#cube-1, #cube-2 {
    width: 400px; height: 400px;
    outline: 2px solid;
    margin: 2rem auto;
}
#cube-1 { outline-color: gold; }
#cube-2 { outline-color: tomato; }
