vz-cube, vz-cubepivot, vz-cubeface {
    display: block;
}
vz-cube {
    width: 100vmax; height: 100vmax;
    overflow: hidden;
    perspective: 40vmax;
    transition: 500ms perspective ease-in-out;
}
vz-cube[zoom] {
    perspective: 60vmax;
}
vz-cubepivot {
    position: relative;
    width: 100%; height: 100%;
    transform-style: preserve-3d;
}
vz-cubeface {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}
vz-cubeface[data-face=front] {
  transform: rotateY(90deg) translateX(calc(50% - 1px)) rotateY(-90deg);
}
vz-cubeface[data-face=left] {
  transform: translateX(calc(-50% + 1px)) rotateY(90deg);
}
vz-cubeface[data-face=right] {
  transform: translateX(calc(50% - 1px)) rotateY(-90deg);
}
vz-cubeface[data-face=top] {
  transform: translateY(calc(-50% + 1px)) rotateX(-90deg);
}
vz-cubeface[data-face=bottom] {
  transform: translateY(calc(50% - 1px)) rotateX(90deg);
}
vz-cubeface[data-face=back] {
  transform: rotateY(90deg) translateX(calc(-50% + 1px)) rotateY(90deg);
}

/*
    Features
*/
a {
    width: 2rem;
    height: 2rem;
    margin-top: -1rem;
    margin-left: -1rem;
    position: absolute;
    top: 50%; left: 50%;
    background: white;
    border-radius: 50%;
    opacity: .666;
    transform: translateZ(calc(-50vmax + 1px));
    cursor: pointer;
}
